body { 
  font-family: sans-serif;
  background-color: black;
  color: lime;
}

#filme {
  background-color: #333;
  margin-block: 1.5em;
  padding: 0.3em;
  padding-left: 1.5em;
  margin-top: -0.5em;
  
}

#filme li {
  margin-block: 0.13em;
}

#infotext {
  background-color: #093c37;
  margin: 0em;
  padding: 1em;
  margin-bottom: 2em;
  
}
